################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Mantenedor-de-Bodega-/FileContentIndex/1f402872-d84e-44b3-9297-eceee2f7cd1f.vsidx
*.vsidx
/.vs/Mantenedor-de-Bodega-/FileContentIndex/2abc28fc-4e7a-4756-ac12-cd8b18b16bf5.vsidx
/.vs/Mantenedor-de-Bodega-/FileContentIndex/4c2fb514-467b-4959-b8dd-2ec929acc914.vsidx
/.vs/Mantenedor-de-Bodega-/FileContentIndex/7eefe01d-56f6-46a4-8b03-a58c266fa682.vsidx
