################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Mantenedor-de-Bodega-/FileContentIndex/1f402872-d84e-44b3-9297-eceee2f7cd1f.vsidx
